.admin_container {
    max-width: 1000px;
   
}

.admin_container {
    position: relative; /* Ensure relative positioning for child elements */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
     margin: 0 auto;
    padding: 20px;
    
  }
  

  
.admin_container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000000;
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffae00;
    color: #ffae00;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff6600;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #bdbdbd;
}

.user-table th, .user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #ff6600;
    color: rgb(0, 0, 0);
}

.user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tbody tr:hover {
    background-color: #e2e2e2;
}

.search container{
    align-content: center;
}